<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Return Url</title>
    <link rel="stylesheet" th:href="@{/css/return.css}">
</head>
<body>
  <div class="container">
    <h1 th:text="${responseDto.status}"> </h1>
      <div class="row">
          <table>
              <tr>
                  <td><strong>Name</strong></td>
                  <td><strong>Value</strong></td>
                  <td><strong>Description</strong></td>
              </tr>

              <tr class="grey-row">
                  <td>Merchant ID</td>
                  <td>JJQQFNTI</td>
                  <td>Được cấp bởi VNPAY</td>
              </tr>

              <tr>
                  <td>Merchant Name</td>
                  <td th:text="${responseDto.merchantName}"></td>
                  <td>Tên Website Merchant</td>
              </tr>

              <tr class="grey-row">
                  <td>Transaction Info</td>
                  <td th:text="${responseDto.transactionInfo}"></td>
                  <td>Thông tin mô tả từ website merchant</td>
              </tr>

              <tr>
                  <td>Amount</td>
                  <td th:text="${responseDto.amount}"></td>
                  <td>Số tiền được thanh toán</td>
              </tr>

              <tr class="grey-row">
                  <td>Current Code</td>
                  <td>VND</td>
                  <td>Đơn vị tiền tệ được thanh toán</td>
              </tr>

              <tr>
                  <td>Transaction Response Code</td>
                  <td th:text="${responseDto.transactionResponseCode}"></td>
                  <td>Trạng thái GD</td>
              </tr>

              <tr class="grey-row">
                  <td>Message</td>
                  <td th:text="${responseDto.status}"></td>
                  <td>Thông báo từ cổng thanh toán</td>
              </tr>

              <tr>
                  <td>Transaction Number</td>
                  <td th:text="${responseDto.transactionNumber}"></td>
                  <td>Mã GD trên cổng thanh toán</td>
              </tr>

              <tr class="grey-row">
                  <td>Bank</td>
                  <td th:text="${responseDto.bank}"></td>
                  <td>Ngân hàng GD</td>
              </tr>

              <tr>
                  <td>Date</td>
                  <td th:text="${responseDto.createDate}"></td>
                  <td>Ngày thanh toán</td>
              </tr>
          </table>
      </div>
      <p>
          <a href="http://localhost:8080/api/vnp/payments">Về danh sách</a>
      </p>

      <div class="footer">
          <p>VNPAY 2025</p>
      </div>
  </div>
</body>
</html>